.logo {
  height: 80%;
  margin: 5px 10px;
  display: grid;
  place-items: center;
  background-color: rgb(250, 197, 24);
}

.logo h3 {
  font-weight: bold;
  color: #111;
}

@media (max-width: 700px) {
  .logo {
    width: 80%;
  }

  .logo h3 {
    font-size: 10px;
  }
}
