.empty-cart {
  text-align: center;
  font-weight: bold;
  color: #111;
  padding-top: 20px;
}

.main-cart {
  width: 70%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 2fr 1.2fr;
  gap: 20px;
}

.main-cart strong {
  color: #111;
}

.cart-details {
  padding: 10px;
  width: 100%;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px;
}

.cart-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 6px solid rgb(230, 230, 230);
}

.cart-details-info {
  display: grid;
  background-color: #fff;
  grid-template-columns: 1fr;
  border-bottom: 6px solid rgb(230, 230, 230);
}

.store-info {
  display: flex;
  align-items: center;
  height: 40px;
}

.store-info .selected {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(230, 230, 230);
  margin-right: 5px;
  border-radius: 2px;
  position: relative;
}

.store-info .selected:hover {
  background-color: #fff;
}

.store-info .selected .is-selected {
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
}

.store-info img {
  width: 15px;
  margin-right: 5px;
}

.store-info p {
  color: #111;
  font-weight: bold;
}

.item-info {
  display: flex;
}

.item-info p {
  margin-bottom: 5px;
}

.item-info .item-img {
  width: 70px;
  height: 70px;
  background-color: blue;
  border-radius: 4px;
  margin-right: 10px;
}

.item-info strong {
  color: rgb(255, 102, 0);
}

.item-config {
  display: flex;
  align-items: center;
  margin-top: 5px;
  height: 40px;
  justify-content: space-between;
}

.item-config p {
  font-weight: bold;
  font-size: 12px;
  color: rgb(50, 201, 50);
  cursor: pointer;
}

.item-config .configuration {
  display: flex;
  align-items: center;
}

.item-config .configuration img {
  margin: 0 10px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.configuration .qty {
  text-align: center;
  border-bottom: 0.2px solid rgb(230, 230, 230);
  width: 50px;
}

.configuration .inc,
.configuration .dec {
  background-color: rgb(230, 230, 230);
  width: 20px;
  position: relative;
  height: 20px;
  border-radius: 50%;
}

.configuration .dec {
  margin-left: 10px;
}

.configuration .inc:hover,
.configuration .dec:hover {
  background-color: rgb(50, 201, 50);
  cursor: pointer;
}

.inc p,
.dec p {
  position: absolute;
  top: -3px;
  left: 4px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.cart-details-header strong {
  color: rgb(50, 201, 50);
  cursor: pointer;
}

.cart-checkout {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  display: grid;
  height: 180px;
  grid-template-columns: 1fr;
  align-items: center;
  grid-template-rows: 40px 50px 70px;
  border-radius: 10px;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.3);
}

.cart-total-price {
  border-top: 1px solid rgb(230, 230, 230);
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 400px) {
  .main-cart {
    grid-template-columns: 1fr;
    width: 80%;
  }

  .cart-details {
    height: 500px;
    overflow: scroll;
  }

  .cart-details-info {
    height: 200px;
  }

  .item-config p {
    font-size: 8px;
  }

  .inc p,
  .dec p {
    font-size: 16px;
    top: 50%;
    margin-top: -10px;
    margin-left: 1px;
  }
}
