.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.filter strong {
  color: black;
  font-size: 14px;
}

.filter select {
  outline: none;
  height: 30px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 5px;
  margin-left: 10px;
  color: rgb(180, 180, 180);
}
