.header {
  width: 100%;
  padding: 0 20px;
  height: 60px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: grid;
  align-items: center;
  grid-template-columns: 200px 70px 1fr 1fr;
}
